<form id="form-edit-computadora">
    {% csrf_token %}

    <!-- ID del registro -->
    <input type="hidden" id="computadora-id" name="id" value="{{ obj.id }}">

    <div class="row g-3">

        <div class="col-md-6">
            <label class="form-label">Asset ID</label>
            {{ form.asset_id }}
        </div>

        <div class="col-md-6">
            <label class="form-label">Modelo</label>
            {{ form.modelo }}
        </div>

        <div class="col-md-6">
            <label class="form-label">Serie</label>
            {{ form.serie }}
        </div>

        <div class="col-md-6">
            <label class="form-label">IP</label>
            {{ form.ip }}
        </div>

        <div class="col-md-6">
            <label class="form-label">Asignado a</label>
            {{ form.asignado_a }}
        </div>

        <div class="col-md-6">
            <label class="form-label">Área</label>
            {{ form.area }}
        </div>

        <div class="col-md-6">
            <label class="form-label">Grado</label>
            {{ form.grado }}
        </div>

        <div class="col-md-6">
            <label class="form-label">Fecha Instalado</label>
            {{ form.fecha_instalado }}
        </div>

        <div class="col-12">
            <label class="form-label">Observaciones</label>
            {{ form.observaciones }}
        </div>

    </div>

    <button type="submit" class="btn btn-primary w-100 mt-3">Guardar Cambios</button>
</form>
